$greenline: rgb(0, 171, 0);

g.turnout {
  pointer-events: bounding-box;
  opacity: 1;
  cursor: pointer;
}

g.turnout:hover {
  opacity: .5;
}

$turnouts: 102, 103, 104, 105, 106, 107, 108, 109, 110, 201;

svg {
  @each $turnout in $turnouts {
    &.turnout-#{$turnout}-straight {
      #t#{$turnout} {
        g:nth-child(1) {
          path {
            stroke: $greenline !important;
          }
        }
        g:nth-child(2) {
          path {
            stroke: black !important;
          }
        }
      }
    }
    &.turnout-#{$turnout}-divergent {
      #t#{$turnout} {
        g:nth-child(1) {
          path {
            stroke: black !important;
          }
        }
        g:nth-child(2) {
          path {
            stroke: $greenline !important;
          }
        }
      }
    }
  }

  &.turnout-101-straight {
    #t101 {
      g:nth-child(1) {
        path {
          stroke: $greenline !important;
        }
      }
      g:nth-child(2) {
        path {
          stroke: $greenline !important;
        }
      }
      g:nth-child(3) {
        path {
          stroke: black !important;
        }
      }
    }
  }
  &.turnout-101-divergent {
    #t101 {
      g:nth-child(1) {
        path {
          stroke: black !important;
        }
      }
      g:nth-child(2) {
        path {
          stroke: black !important;
        }
      }
      g:nth-child(3) {
        path {
          stroke: $greenline !important;
        }
      }
    }
  }
}