html,
body,
#root {
	height: 100%;
  background-color: rgb(13, 17, 23);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  color:rgb(50, 125, 238);
}

.app-header-menu.MuiAppBar-root {
  background: rgb(120,1,1);
  background: linear-gradient(0deg, rgba(13,17,23,1) 1%, rgba(0,0,0,1) 71%);
  border-bottom: 1px solid rgba(244, 67, 54, 1);
}

.app-footer.MuiBottomNavigation-root {
  background: linear-gradient(0deg, rgba(13,17,23,1) 1%, rgba(0,0,0,1) 71%);
  border-top: 1px solid rgba(244, 67, 54, 1);
}

.title {
  flex-grow: 1;
}

.App-content {
  overflow: auto;
}

.App-content-column {
  height: 100%;
  overflow: auto;
}

.grow {
  flex: 1;
}

.flex {
  display: flex;
}
.height100 {
  height: 100%;
}
.width100 {
  width: 100%;
}

.status-monitor {
  .MuiChip-root {
    margin: 0 0.5em;
  }
  &--unknown.MuiChip-icon {
    animation: flickerAnimation 1s infinite;
  }
  &--connected.MuiChip-icon {
    background-color: rgb(14, 192, 14);
    border-radius: 50%;
  }
  &--disconnected.MuiChip-icon {
    background-color: rgb(211, 0, 0);
    border-radius: 50%;
  }
}

.power {
  &-on, 
  &-off, 
  &-unknown, 
  &-pending {
    &.MuiButtonBase-root  {
      margin-left: .5rem;
    }
    svg.MuiSvgIcon-root {
      border-radius: 50%;
    }
  }
  &-on {
   svg.MuiSvgIcon-root {
    background-color: rgb(14, 192, 14);
   }
  }
  &-off {
    svg.MuiSvgIcon-root {
     background-color: rgb(211, 0, 0);
    }

  }
  &-unknown {
    svg.MuiSvgIcon-root {
     background-color: rgb(129, 129, 129);
    }

  }

  &-pending {
    svg.MuiSvgIcon-root {
      fill: #999;
      animation: flickerAnimation 1s infinite;
    }
  }
}
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}